/* Navigation Bar */
#NavBar {
  border: 5px solid black;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1;
  background-color: crimson;
  color: black;
  padding: 12px;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
}

.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#NavBar:hover {
  background-color: black;
  color: crimson;
}
/* Navigation Bar */


/* Overall Rules */
body {
  background-color: silver;
  color: black;
  font-size: 20px;
  font-family: 'Poppins', sans-serif, arial;
}
/* Overall Rules */


#SectionHeaderName {
  font-weight: bolder;
}


/* Home Page */
#HomePageHeader {
  text-align: center;
  background-color: black;
  color: crimson;
  font-family: fantasy;
  font-size: 2rem;
}

#BannerImage {
  margin: 10px;
  display:block;
  border: 12px solid black;
  margin-left: auto;
  margin-right: auto;
}

#HomePageFooter {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

#AsepriteLink {
  box-sizing: border-box;
}
/* Home Page */


/* Images */
.Content {
  display: flex;
  flex:auto;
  flex-wrap: wrap;
  border: 5px solid black;
  background-color: Gainsboro;
  justify-content: center;
  text-align: center;
}

.ContentPadding {
  padding: 15px;
}

.ContentText {
  border: 5px solid black;
  padding: 10px;
}
/* Images */
